{{#if featuredTopics}}
  <h3>This is in featuredTopics tag</h3>
  {{tlp-featured-topics featuredTopics=featuredTopics mobileView=site.mobileView}}
{{/if}}

{{#if model.featured_topics}}
  <h3>This is outside of featuredTopics tag</h3>
  {{tlp-featured-topics featuredTopics=model.featured_topics}}
{{/if}}
